:root {
    --primary-color:#fff;
    --secondary-color:#000;
    --first:#d1e7dd;
    --second:#055160;
    --third:#cdcde6;
    --four:#b4eed4;
    --primary-color:rgb(12, 12, 12);
    --card-border-redius: 7px;
    --card-title-color: rgb(23, 148, 19);
    --card-category-color: seagreen;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 15px;
    background-color: var(--first);
    display: flex;
    /* justify-content: space-between; */
    z-index: 99;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 30px;
}

header .logo {
    width: 55px;
    border-radius: 50%;
    margin-right: 8px;
}
.title {
    font-size: 2em;
    color: var(--second);
    user-select: none;
    margin-top: 8px;
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: var(--second);
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}
.navigation a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--secondary-color);
    border-radius: 5%;
    left: 0;
    bottom: -6px; 
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
}
.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
.navigation .btn-login {
    width: 130px;
    height: 50px;
    background: transparent;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 6px;
    color: var(--second);
    font-weight: 500;
    margin-left: 40px;
    font-size: 1.1em;
}
.navigation .btn-login:hover {
    background: var(--second);
    color: var(--first);
}

main {
    margin-top: 20%;
    display: flex;
    align-items: center;
    margin: 2rem;
    background-color: var(--third);
}

.card-container {
    max-width: 1200px;
    width: 100%;
    display: grid;
    margin: 35px auto;
    grid-template-columns: (1fr);
    gap: 2rem;
    padding: 0 1rem;
}
.card {
    box-shadow: 0px 2px 4px #333;
    border-radius: var(--card-border-redius);
    transition: all 0.2s ease-out;

    &:hover {
        box-shadow: 3px 6px 30px #333;
        transform: translateY(-5px);
    }
}
.card-link {
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
}

.card-img {
    width: 100%;
    height: 250px;
    border-top-left-radius: var(--card-border-redius);
    border-top-right-radius: var(--card-border-redius);
    object-fit: cover;
}
.card-body {
    padding: 2rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.card-category {
    color: var(--card-category-color);
    font-size: 1.4rem;
    font-weight: 500;
}
.card-title {
    color: var(--card-title-color);
    margin-bottom: 1.3rem;
    font-family: cursive;
    font-size: 2rem;
}
.card-description {
    flex-grow: 1;
    margin-bottom: 1.2rem;
    line-height: 1.5;
}
.card-post-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.card-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
.card-author {
    color: var(--card-category-color);
    font-family: cursive;
    font-size: 1.5rem;
}
.card-date {
    color: #777;
}
@media (min-width: 700px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .card-img {
        height: 200px;
    }
}
@media (min-width: 1200px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .card-img {
        height: 300px;
    }
}