:root {
    --primary-color:#fff;
    --secondary-color:#000;
    --first:#d1e7dd;
    --second:#055160;
    --third:#cdcde6;
    --four:#b4eed4;
    --primary-color:rgb(12, 12, 12);
    --card-border-redius: 7px;
    --card-title-color: rgb(23, 148, 19);
    --card-category-color: seagreen;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-position: center;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 15px;
    background-color: var(--first);
    display: flex;
    justify-content: space-between;
    z-index: 99;
}
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 30px;
}

header .logo {
    width: 55px;
    border-radius: 50%;
    margin-right: 8px;
}
.title {
    font-size: 2em;
    color: var(--second);
    user-select: none;
    margin-top: 8px;
}
.navigation a {
    position: relative;
    font-size: 1.1em;
    color: var(--second);
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}
.navigation a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--secondary-color);
    border-radius: 5%;
    left: 0;
    bottom: -6px; 
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
}
.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
.navigation .btn-login {
    width: 130px;
    height: 50px;
    background: transparent;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 6px;
    color: var(--second);
    font-weight: 500;
    margin-left: 40px;
    font-size: 1.1em;
}
.navigation .btn-login:hover {
    background: var(--second);
    color: var(--first);
}

main {
    margin-top: 20%;
    display: flex;
    align-items: center;
    margin: 2rem;
    background-color: var(--third);
}

.card-container {
    max-width: 1200px;
    width: 100%;
    display: grid;
    margin: 35px auto;
    grid-template-columns: (1fr);
    gap: 2rem;
    padding: 0 1rem;
}
.card {
    box-shadow: 0px 2px 4px #333;
    border-radius: var(--card-border-redius);
    transition: all 0.2s ease-out;

    &:hover {
        box-shadow: 3px 6px 30px #333;
        transform: translateY(-5px);
    }
}
.card-link {
    text-decoration: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
}

.card-img {
    width: 100%;
    height: 250px;
    border-top-left-radius: var(--card-border-redius);
    border-top-right-radius: var(--card-border-redius);
    object-fit: cover;
}
.card-body {
    padding: 2rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.card-category {
    color: var(--card-category-color);
    font-size: 1.4rem;
    font-weight: 500;
}
.card-title {
    color: var(--card-title-color);
    margin-bottom: 1.3rem;
    font-family: cursive;
    font-size: 2rem;
}
.card-description {
    flex-grow: 1;
    margin-bottom: 1.2rem;
    line-height: 1.5;
}
.card-post-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.card-avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
.card-author {
    color: var(--card-category-color);
    font-family: cursive;
    font-size: 1.5rem;
}
.card-date {
    color: #777;
}
@media (min-width: 700px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .card-img {
        height: 200px;
    }
}
@media (min-width: 1200px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
    .card-img {
        height: 300px;
    }
}







/* login/signup css  */
/* .show-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
} */
.wrapper.active-popup{
    transform: scale(1);

}

.wrapper{
    margin: 100px;
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: height .2s ease;
}
.wrapper.active{
    height: 520px;
}
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}
 

.wrapper.active  .form-box.register{
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}
.wrapper .form-box.login{
    transition: transform .18s  ease;
    transform: translateX(0);
}

.wrapper .form-box.register{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}
.wrapper .icon-close{
    position: absolute;
    top: 0  ;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: start;
    border-bottom-left-radius: 20px;
    z-index: 1;
    cursor: pointer;
}
.form-box h2{
    font-size: 2em;
    color: antiquewhite;
    text-align: center;
}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;

}
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px;
}
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}
.btn{
    margin-top: 25px;
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}
.login-register{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.login-register p a{
    color:  #162938;
    text-decoration: none;
    font-weight: 600;
}
.login-register p a:hover{
    text-decoration: underline;
}
/* login/sign up */